@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p>Você não tem permissão para acessar esta página, por gentileza consulte o administrador, <a asp-controller="Home" asp-action="Index"> retornar para home.</a></p>
